@media (min-width: 1200px){
.container {
    width: 1200px;
}
}

#distance{
  color: green;
  font-size: 25px;
}

/*
 <div class="request_picture">
          <img src="<%= User.find(request.borrower_id).picture_url %>" />
        </div>
        */
.request_picture{
   display:block;
    height:100px;
    overflow:hidden;
    margin: -10px auto 40px;
    width: 70px;
}

/*Layout*/
.main-board{
  position: relative;
  top: 80px;
}
/*nav bar in layout*/

.df-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #3B5999;
     z-index: 100;
}

.df-navlist{
  top: 15px;
  right: 100px;
  position: relative;
}

.df-navlist a {
  color:#FFFFFF;
  font-size: 18px;
}

.df-navlist a:hover{
  color:black;
}


.navbar-toggle .icon-bar {
    background-color: #fff;
}

/*Profile page*/
.main-left, .main-right{
  height:auto;
  padding: 20px 20px;
}
.profile-info{
  display: inline-block;
  position: relative;
  top:120px ;
  left: 250px;  
  text-align: center;
  font-size:28px ;
  color: #fff;
}

.profile-photobar{
  height:400px;
  background-image: url('/images/profilebackground.jpg');
  background-position:0 -224px ;
}
.profile-photo{
  position: relative;
  top:150px;
  border: solid 1px black;
  width: 200px;
  height:200px;
  margin-right: auto;
  margin-left: auto;
}
.profile-photo img{
  width: 200px;
  height:200px;
  border:solid 5px #fff;
}
/*Login page*/
.login-button{
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  height: 80px;
  line-height:80px;
  font-size: 40px;
  color:#FFFFFF;
  background-color:#3B5999;
}
.login-button a{
  color:#FFFFFF;
}

.login-button+.login-button, .login-pic+.login-button{
  margin-top: 50px;
}


.login-pic{
  text-align: center;
  margin: 0 auto;
}


/*Books*/

.book-container{
  position: relative;
  text-align: center;
  height: 300px;
  overflow: hidden;
  padding: 0 5px;
  padding-top: 30px;
}
.book-container img {
  width: 80%;
  height: 82%;
}


.book-own{
  /*border: solid 3px red; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: blue;
  margin: 0 auto;
  width: 80%;
  color: #FFFFFF;
  height: 45px ;
  line-height: 50px;
  font-size: 20px;
}

.book-lend{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  height: 45px ;
  margin: 0 auto;
  width: 80%;
  line-height: 50px;
  font-size: 20px;
}

.book-lentout{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: cyan;
  color: #FFFFFF;
  height: 45px ;
  margin: 0 auto;
  width: 80%;
  line-height: 50px;
  font-size: 20px;
}


.book-borrowed{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: yellow;
  color: #FFFFFF;
  height: 45px ;
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
  font-size: 20px;
}


.book-borrow{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: red;
  color: #FFFFFF;
  height: 45px ;
  margin: 0 auto;
  width: 80%;
  line-height: 50px;
  font-size: 20px;
}

.add-book{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: green;
  color: #FFFFFF;
  height: 45px ;
  margin: 0 auto;
  width: 80%;
  line-height: 50px;
  font-size: 20px;
}

.shelves{
  background-image: url("../images/shelves.png");
  background-repeat: no-repeat;
  border-radius:20px;
}

.inner-shelves{
  width:85%;
  height:90% ;
  margin:9% 11% 0 7%;
  padding-top: 20px;
}

.jumbotron {
  margin-top: 5%;
  height:430px;
  background: url("../images/back_gound_login.png") no-repeat;
  background-size: 100%;
  position: relative;
  
}
.center_container {
  text-align: center;
  position: relative;
  top:130px;
  margin: 0 auto;
  width:25%;
}

.center_container{
  background-color: rgba(111, 167, 225, 0.61) ;
  transparency: 5%;
  text-align: center;
  position: relative;
  top: 10%;
  width: 40%;
  border-radius: 15px;

}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  padding: 0 65px;

}


.form-group{
  display: inline-block;
}









