/*Layout*/
.main-board{
  position: relative;
  top: 100px;
}
/*nav bar in layout*/

.df-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #3B5999;
     z-index: 100;
}

.df-navlist{
  top: 15px;
  right: 100px;
  position: relative;
}

.df-navlist a {
  color:#FFFFFF;
}


.navbar-toggle .icon-bar {
    background-color: #fff;
}

/*Profile page*/
.main-left, .main-right{
  height:auto;
  padding: 20px 20px;
}
.profile-info{
  text-align: center;
}

.profile-photo{
  border: solid 1px black;
  width: 200px;
  height:200px;
}

/*Login page*/
.login-button{
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  height: 80px;
  line-height:80px;
  font-size: 40px;
  color:#FFFFFF;
  background-color:#3B5999;
}
.login-button+.login-button, .login-pic+.login-button{
  margin-top: 50px;
}


.login-pic{
  text-align: center;
  margin: 0 auto;
}


/*Books*/

.book-container{
  position: relative;
  text-align: center;
  height: 300px;
  overflow: hidden;
  padding: 5px 5px;
}
.book-container img {
  width: 180px;
  height: 230px;
}
@media (max-width: 780px) {
  .book-container {
    max-height: none;
  }
  .book-container img {
    width: 200px;
  }
}

.book-own{
  /*border: solid 3px red; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: blue;
  color: #FFFFFF;
  height: 50px ;
  line-height: 50px;
  font-size: 20px;
}

.book-lend{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  height: 50px ;
  line-height: 50px;
  font-size: 20px;
}

.book-borrow{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: red;
  color: #FFFFFF;
  height: 50px ;
  line-height: 50px;
  font-size: 20px;
}

.add-book{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: green;
  color: #FFFFFF;
  height: 50px ;
  line-height: 50px;
  font-size: 20px;
}
