<% if @error_messages %>
  <ul class="errors">
    <% @error_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron">
  <div class="center_container">
  <form class="form-group input-board" action="/users/login" method="POST" >
      
      <fieldset><h2>Welcome back!</h2>
        <h4>Log in</h4></fieldset>   

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><img src="/images/icon-user2.png"></span>
              <input type="text" id="email"  placeholder=" enter email..."  name="email">
             
            </div>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><img src="/images/glyphicons-204-lock.png"></span>
              <input type="password" id="password" name="password" placeholder=" enter password..." >
              
            </div>
            <div class="form-group">
            <button class="btn btn-primary pull-left" class="button" type="submit" class="btn btn-primary pull-right">Log In</button>
            </div>
       
  </form>
  </div>

  <!-- <div class="well"> 
  <div id="center_container">
    <div class="container center_div">
      <div class="form-group" class="container center_div">
        <h2>Welcome back!</h2>
        <h4>Log in</h4>
        
        <form action="/users/login" method="POST" >
          <div class="form-group">

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><img src="/images/icon-user2.png"></span>
              <input type="text" id="email"  placeholder="Enter Email"  name="email">
             
            </div>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><img src="/images/glyphicons-204-lock.png"></span>
              <input type="password" id="password" name="password" placeholder="Enter Password" >
              
            </div>
            <div class="form-group">
            <button class="btn btn-primary pull-left" class="button" type="submit" class="btn btn-primary pull-right">Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div> 
  </div> 
  </div> -->
</div>



