<div class="container">
    <div class="row">
        <div class=" col-sm-12 main-right">
            <form action="/books" method="get" id="searchform">
                <div class="input-group col-xs-6 col-md-offset-3">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#title">Title</a></li>
                            <li><a href="#author">Author</a></li>
                            <li><a href="#isbn">ISBN</a></li>
                            <li class="divider"></li>
                            <li><a href="#*">Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="*" id="search_param">         
                    <input type="text" class="form-control" name="search_text" value="<%= @text if @text %>" placeholder="Search books...">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <div class= "col-sm-12 main-right">
            <div class="row">
                <% @books.order(:title).each do |book| %>
                    <% if book.picture_url %>
                        <div class="col-sm-2 book_effect book-container">
                            <a href=<%= "books/" + book.id.to_s %>>
                                <img src= <%= book.picture_url %>>
                                <% if current_user && current_user.id == book.user_id && book.lends.find_by(checkin: nil) %>
                                    <div class="book-lentout">Loaned</div>
                                <% elsif current_user && current_user.id == book.user_id %>
                                    <div class="book-own">Owned</div>
                                <% elsif book.lends && current_user && book.lends.find_by(borrower_id: current_user.id) && book.lends.find_by(checkin: nil) %>
                                    <div class="book-borrowed">Borrowed</div>
                                <% elsif (book.lends && lend = book.lends.find_by(checkin: nil)) %>
                                    <div class="book-lend">Unavailable</div>
                                <% else %>
                                    <div class="book-borrow">Request</div>
                                <% end %>
                            </a>

                          </div>

                    <% end %>
                <% end %>
            </div>
        </div>
</div></li></span>
</div>
</div>
<script type="text/javascript">
    $('#searchform li a').on('click', function(){
            $('#search_param').val($(this).text());
            $('.search-panel').find('.btn').html($(this).text()+' <span class="caret"></span>');
            });
</script>
