<div class="container login-board" >
<div class="row">
  <div class=" col-sm-4 main-left">
    <div class='profile-photo container'>
      profile-photo
    </div>
    <div>
      first_name
    </div>
    <div>
      last_name
    </div>

  </div>
  <div class=" col-sm-8 main-right">
     
  </div>
</div>
</div>



