<div class="container" >
<div class="row">
  <div class=" col-lg-3 main-left">
    <div class='profile-photo'>
      <img src="http://i.imgur.com/vUmohYJ.jpg">
    </div>
    <div class="profile-info">
    Hi, welcome
    </div>
    <div class="profile-info">
      first_name last_name
    </div>

  </div>
  <div class=" col-lg-9 main-right">
    
    <div class='row shelves'>
      <div class="row inner-shelves">
        <div class="col-sm-3 book-container">
          <img src="http://www.iconarchive.com/download/i42578/oxygen-icons.org/oxygen/Actions-address-book-new.ico">
          <div class="add-book">Add book</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://i.imgur.com/EZdSNjv.jpg">
          <div class="book-own">Your book</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://critical-thinkers.com/wp-content/uploads/2011/05/Book-cover.jpg">
          <div class="book-lend">Book lend</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://critical-thinkers.com/wp-content/uploads/2011/05/Book-cover.jpg">
          <div class="book-borrow">Book borrow</div>
        </div>     
      </div>    
    </div>
    <div class='row shelves'>
      <div class="row inner-shelves"> 
       <div class="col-sm-3 book-container">
          <img src="http://i.imgur.com/EZdSNjv.jpg">
          <div class="book-own">Your book</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://i.imgur.com/EZdSNjv.jpg">
          <div class="book-own">Your book</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://critical-thinkers.com/wp-content/uploads/2011/05/Book-cover.jpg">
          <div class="book-lend">Book lend</div>
        </div>
        <div class="col-sm-3 book-container">
          <img src="http://critical-thinkers.com/wp-content/uploads/2011/05/Book-cover.jpg">
          <div class="book-borrow">Book borrow</div>
        </div> 
      </div>      
    </div>
    
  </div>
</div>





