<div class="container login-board">
  <div class="row">
  <div class="col-md-4 ">
    
  </div>
  <div class="col-md-4 ">
    <div class="login-button">
    Login
  </div>
  <div class="login-button">
    Signup
  </div>
  </div>
  <div class="col-md-4 "></div>
  </div>
  

</div>

